*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f7f8fc;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#fff;
box-shadow:0 5px 20px rgba(0,0,0,.05);
}

.logo h2{
font-size:30px;
font-weight:700;
}

.logo span{
color:#ff2e2e;
}

.nav-links{
display:flex;
list-style:none;
gap:35px;
}

.nav-links a{
text-decoration:none;
color:#333;
font-weight:500;
}

.buttons button{
padding:12px 22px;
border:none;
border-radius:8px;
cursor:pointer;
margin-left:10px;
font-size:15px;
}

.login{
background:#fff;
border:1px solid #ddd;
}

.signup{
background:#ff2e2e;
color:white;
}

.hero{

display:flex;
justify-content:space-between;
align-items:center;
padding:70px 8%;
}

.left{
width:50%;
}

.tag{
display:inline-block;
padding:8px 15px;
background:#eef2ff;
color:#4169e1;
border-radius:30px;
margin-bottom:20px;
font-size:14px;
}

.left h1{
font-size:58px;
line-height:75px;
margin-bottom:20px;
}

.left h1 span{
color:#ff2e2e;
}

.subtitle{
font-size:18px;
color:#666;
margin-bottom:30px;
line-height:30px;
}

.hero-btn button{

padding:16px 30px;

border:none;

border-radius:10px;

font-size:17px;

cursor:pointer;

margin-right:15px;

}

.create{
background:#ff2e2e;
color:white;
}

.template{
background:white;
border:1px solid #ddd;
}

.right{
width:45%;
display:flex;
justify-content:center;
}

.resume-card{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.resume-card img{
width:100%;
border-radius:10px;
}

@media(max-width:768px){

.navbar{

flex-direction:column;

}

.nav-links{

margin:20px 0;

flex-wrap:wrap;

justify-content:center;

}

.hero{

flex-direction:column;

}

.left,

.right{

width:100%;

text-align:center;

}

.left h1{

font-size:40px;

line-height:55px;

}

.right{

margin-top:40px;

}

}
